@import "tailwindcss";

@layer base {
  body {
    background-color: #232529;
    color: white;
  }
}

@layer components {
  .prose {
    color: white;
    max-width: none;
  }

  .prose h1 {
    color: #b57cf0;
    font-weight: bold;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .prose h2 {
    color: #b57cf0;
    font-weight: bold;
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
  }
}